body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

h3 {
  display: inline-block;
  margin: 0px;
  margin-left: 0.5em;
  font-size: 1em;
  position: relative;
  top: 0.125em;
}

.back {
  border: 1px solid #ddd;
  background-color: #eee;
  display: inline-block;
  border-radius: 3px;
  margin-left: 0.5em;
  margin-top: 0.5em;
  padding-bottom: 0.75em;
  width: 1.75em;
  height: 1em;
  text-align: center;
  cursor: pointer;
}

li.todo-link {
  cursor: pointer;
  padding-left: 1em;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  white-space: nowrap;
  border-radius: 3px;
  padding: 0.25em;
}

.handle {
  cursor: move;
  cursor: -webkit-grabbing;
  background-color: #fff;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-radius: 3px;
  float: right;
  display: inline-block;
  border: 1px solid #ddd;
}

.checkbox {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ddd;
  display: inline-block;
  width: 1.5em;
  height: 1em;
  text-align: center;
  margin-right: 0.5em;
  padding-bottom: 0.5em;
  background-color: white;
}

.oddeven-0 {
  background-color: #f8f8f8;
}

.oddeven-1 {
  background-color: #e8e8e8;
}
