@import url("../font-awesome/css/font-awesome.min.css");

html {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-image: url(../img/stardust.png);
}

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #ddd;
  line-height: 1.5em;
  min-height: 100%;
  padding: 0px;
  padding-bottom: 0em;
  margin: 0px;
  background: linear-gradient(to bottom, rgba(30, 82, 142, 0.1) 0%, rgba(38, 88, 137, 0.2) 50%, rgba(157, 166, 113, 0.3) 100%);
  background-attachment: fixed;
}

#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 0px;
  padding-bottom: 0.25em;
}

h1, h2, h3 {
  color: #aaa;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1em
}

div {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.btn {
  color: #aaa;
  display: inline-block;
  background: none;
  border: none;
  margin: 0.25em;
  cursor: pointer;
  font-size: 2.5em;
}

input, textarea {
  width: 100%;
  box-sizing: border-box; 
  font-size: 1em;
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  color: #333;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.7);
  display: block;

  padding: 0.5em;
  border-radius: 3px;
  display: block;
  min-height: 3em;
}

li.todo-link {
  cursor: pointer;
  padding-left: 1em;
  padding-bottom: 0em;
  padding-top: 1.25em;
  font-weight: bold;
}

ul {
  padding-left: 0px;
  margin-top: 0px;
}

li {
  list-style-type: none;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  border-radius: 3px;
  padding: 0.25em;
  padding-bottom: 0.25em;
  display: block;
  min-height: 3em;
}

li.todo-line > span {
  display: block;
  padding-left: 1em;
  padding-top: -1em;
}

li.todo-line > span.edit-mode {
}

.list-title {
  display: inline-block;
  margin: 0px;
  margin-left: 0.5em;
  font-size: 1em;
  position: relative;
  top: -0.5em;
  color: #ddd;
}

#add-item {
  float: right;
  margin-right: 0.3em;
}

#clear-completed {
  float: right;
}

#add-item-container {
  padding: 0px;
  margin: 0px;
  margin: 1em;
}

#add-item-done {
  display: block;
  text-align: right;
}

#back, #add-list {
  margin-left: 0.275em;
}

.update-item-done {
  float: right;
}

.delete-item {
  margin-left: -0.1em;
}

.edit-item-text {
  margin-top: 0.5em;
  margin-left: -0.5em;
}

.add-new-text {
  
}

.delete-list {
  float: right;
  margin-top: -0.2em;
}

.handle {
  cursor: move;
  cursor: -webkit-grabbing;
  float: right;
  display: inline-block;
  margin-right: 0.125em;
}

.checkbox {
  display: inline-block;
  float: left;
  margin-left: -0.25em;
}

.todo-text {
  display: block;
  padding-bottom: 1em;
  margin-left: 2.5em;
  padding-top: 1em;
}

.oddeven-0 {
  background-color: rgba(255, 255, 255, 0.05);
}

.oddeven-1 {
}

/*** loader animation ***/

#loader > div {
  width: 50px;
  height: 50px;
  background: #555;
  border: 1px solid #555;
  -webkit-animation: square-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite;
  animation: square-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

@keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }

  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }

  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }

  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}

.fa-stack {
  font-size: 1.25em;
}

.fa-inverse {
  color: #343C46
}
